$background: (
    site-light: #ffffff,
    site-dark: rgba(60, 70, 94, 1),
    navbar: rgba(234, 20, 20, 1),
    dropdown: #f9f9f9,
    dropdown-content: #2f2b2b63,
    slider: #141313,
    products: #0498c2,
    genres: #0bbe9e,
    focus: #f9ce1d,
    conseils: #5fbddf,
    newsletter: #141313,
    hr: #080f70,
);

$fonts-size: (
    h1: 3.5rem,
    h2: 2.3rem,
    h3: 3rem,
    h4: 2rem,
    h5: 1.2rem,
    album: 1.5rem,
    artiste: 1rem,
    h3-slider: 3rem,
    h4-slider: 2rem,
    slider: .9rem,
    h3-products: 3rem,
    banner: 1.2rem,
    collections: 1.1rem,
    h3-focus: 3rem,
    h4-focus: 2rem,
    p-focus: 1.2rem,
    conseils: .8rem,
    h3-newsletter: 1.4rem,
    copyright: .7rem,
    blockquote-h3: 3rem,
    blockquote-h4: 2rem,
    blockquote-h5: 1.2rem,
);
