$primary-font: "primary-font", sans-serif;
$secondary-font: "secondary-font", sans-serif;

$primary-font-color: #141313; 
$secondary-font-color: #ffffff;

$header-icones-color: #141313;
$footer-icones-color: rgba(255, 0, 0, 1);

$banner-height: 25rem;
$slider-height: 22rem;
$slider-content-height: 24rem;
$products-height: 28rem;
$collections-height: 22rem;
$genres-height: 22rem;
$focus-height: 25rem;
$divers-height: 19rem;
$conseils-height: 28rem;
$newsletter-height: 15rem;
$newsletter-width: 23rem;
$footer-height: 9rem;

$container-width: 80%;